.fun {
  background: #bb6868;
  color: rgb(255, 255, 255);
  height: auto;
}

.fun h1 {
  margin: 0;
  padding-top: 75px;
  text-align: left;
  color: rgb(49, 51, 45);
  font-size: 3rem;
}
.fun p {
  font-size: x-large;
  background-color: rgb(255, 145, 0);
  color: rgb(45, 49, 38);
}
