.fun h1 {
  margin: 0;
  padding-top: 75px;
  text-align: left;
  color: rgb(49, 51, 45);
  font-size: 3rem;
}
.fun p {
  font-size: x-large;
  background-color: rgb(255, 145, 0);
  color: rgb(45, 49, 38);
}

.fun {
  font-family: var(--mons);
  padding-bottom: 2rem;
  width: 500px;
  margin-top: 3rem;
}

#drumpadText span {
  font-size: x-large;
  font-family: var(--dela);
}

#drumpadText {
  margin-left: 2.4rem;
  margin-bottom: 1rem;
}

.pad {
  font-family: var(--mons);
  width: 500px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  line-height: 2rem;
}

.box {
  border-radius: 5px;
  width: 100px;
  height: 100px;
  margin: 3px;
  background-color: rgb(100, 100, 100);
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  font-size: 20px;
  color: rgb(255, 255, 255);
  user-select: none;
}

.box:hover {
  background-color: rgb(170, 170, 170);
  cursor: pointer;
}

.box:active {
  background-color: rgb(191, 214, 62);
  transform: scale(0.9);
  transition: all 0.2s;
}
