:root {
  --dark: rgb(22, 26, 26);
  --yellow: #eef907ff;
  --pink: #ef1a48ff;
  --grey: #ecececff;
  --dela: "Dela Gothic One", cursive;
  --mons: "Montserrat", sans-serif;
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.nav-tabs {
  font-family: var(--mons);
  background-color: var(--dark);
  padding: 1rem;
}

li {
  display: inline;
  padding-right: 2rem;
}

a:link {
  text-decoration: none;
  color: var(--grey);
}
a:hover {
  text-decoration: none;
  color: var(--pink);
}
a:visited {
  text-decoration: none;
  color: var(--grey);
}
a:active {
  text-decoration: none;
  color: var(--grey);
}
