:root {
  --dark: rgb(22, 26, 26);
  --yellow: rgb(211, 235, 103);
  --pink: rgb(197, 86, 104);
  --grey: #ecececff;
  --dela: "Dela Gothic One", cursive;
  --mons: "Montserrat", sans-serif;
}

/* .dolphin img {
  width: 10rem;
  height: 5rem;
} */

a {
  font-size: 1.5rem;
}
.nav {
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-tabs {
  font-family: var(--mons);
  background-color: var(--dark);
  padding: 2rem;
}

a.nav-link.active {
  background-color: var(--pink);
  color: var(--grey);
}

/* .about,
.webdev,
.graphic,
.contact,
.resume,
.fun {
  padding: 2rem;
} */

.nav h1 {
  color: var(--grey);
  margin-bottom: 1rem;
}
.nav span {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--grey);
  color: var(--dark);
}

li {
  display: inline;
  padding-right: 2rem;
}

a:link {
  text-decoration: none;
  color: var(--grey);
}
a:link {
  text-decoration: none;
  color: var(--grey);
}

a:hover {
  text-decoration: none;
  color: var(--pink);
}
a:visited {
  text-decoration: none;
  color: var(--grey);
}

a:active {
  text-decoration: none;
  color: var(--pink);
}

/*- MEDIA QUERIES ------------------------*/

@media screen and (max-width: 415px) {
  .nav {
    margin-top: 0;
    padding-top: 0;
    position: relative;
  }

  .nav-item {
    padding-bottom: 0.5rem;
  }
  .nav-tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    padding-left: 1rem;
  }
}
