.webdev {
  background: #b4b4b4;
  height: 5rem;
}

.webdev h1 {
  margin: 0;
  padding-top: 75px;
  text-align: center;
  color: rgb(35, 48, 41);
  font-size: 3rem;
}
.webdev p {
  font-size: x-large;
  background-color: antiquewhite;
}
