:root {
  --dark: rgb(11, 14, 14);
  --yellow: #eef907ff;
  --pink: #ef1a48ff;
  --grey: #ecececff;
  --dela: "Dela Gothic One", cursive;
  --mons: "Montserrat", sans-serif;
}

body {
  color: var(--pink);
  background-color: var(--dark);
}
