:root {
  font-family: "Sen", sans-serif;
  --dark: #232d2eff;
  --yellow: #eef907ff;
  --pink: #ef1a48ff;
  --grey: #ecececff;
  --dela: "Dela Gothic One", cursive;
  --mons: "Montserrat", sans-serif;
}

.about,
.fun,
.webdev,
.graphic {
  font-family: var(--mons);
}

.about,
.fun,
.webdev,
.graphic h1 {
  font-family: var(--dela);
}

body {
  color: var(--gold);
  background-color: var(--dark);
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  inset: 2rem;
}

h1,
p {
  color: var(--dark);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
